<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.memory_athlete.memoryathletes">

    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/launcher_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Default">

        <!-- android:largeHeap="true" -->

        <activity
            android:name="com.memory_athlete.memoryathletes.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity options -->

        <activity android:name="com.memory_athlete.memoryathletes.main.GetPro" />
        <activity
            android:name="com.memory_athlete.memoryathletes.main.Login"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.main.Learn"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.recall.Recall"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.main.Practice"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.main.Preferences"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.main.Apply"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.mySpace.MySpace"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.mySpace.WriteFile"
            android:parentActivityName="com.memory_athlete.memoryathletes.mySpace.MySpace"
            tools:targetApi="jelly_bean" />
        <activity android:name="com.memory_athlete.memoryathletes.lessons.Lessons" />

        <!-- Practice Disciplines -->

        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Numbers"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Equations"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Words"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Names"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Cards"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.BinaryDigits"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Places"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Foods"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Dates"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Colours"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="com.memory_athlete.memoryathletes.disciplines.Letters"
            android:parentActivityName="com.memory_athlete.memoryathletes.main.Practice"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />


        <service
            android:name="com.memory_athlete.memoryathletes.services.ReminderJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name="com.memory_athlete.memoryathletes.services.MySpaceJobService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>